/* Make the map take up full screen */
#map {
  width: 100%;
  height: 100vh;  /* Full viewport height */
}

/* Style the story box */
#story {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 400px;  /* Increased width */
  max-height: 500px; /* Optional limit for height */
  overflow-y: auto; /* Scroll if needed */
}

/* Style the intro container (for the introductory content) */
#introContainer {
  position: absolute;
  z-index: 2; /* Ensure it sits above the map and below the story box */
  background: rgba(255, 255, 255, 0.8); /* Transparent background */
  background-image: url('https://radarmukomuko.disway.id/upload/62e613126e0d72afae40ef15b1440c
